@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
.App {
    min-height: 100vh;
    text-align: center;
    background: rgb(180,58,62);
    background: linear-gradient(180deg, rgba(180,58,62,1) 0%, rgba(37,9,121,1) 27%, rgba(7,12,22,1) 72%);
    font-size: 18px;
    /* background: rgb(255, 0, 176);
    background: linear-gradient(185deg, rgba(255, 0, 176, 1) 0%, #250979 21%, #070c16 58%); */
}

.app-header .lead{
    letter-spacing: 0;
    color: gray;
    font-size: 20%;
    font-weight: lighter;
    height:20px;
    width: 70%;
}

.all-container {
    padding-top: 29px;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 1;
}
@media screen and (min-width: 1660px) {
    .app-header {
        position: absolute;
        top: 0;
        padding-top: 60px;
        text-align: left;
        width: auto;
        margin: 0 10vw;
        max-height: 200px;
        /* font-family: 'Concert One', cursive; */
        font-family: 'Dela Gothic One', cursive;
        letter-spacing: 30px;
        color: rgb(0, 77, 144);
        font-size: 5em;
        display: grid;
        grid-template-columns: 2fr 6fr;
        align-items: center;
    }
    .app-header .lead{
        width: 100%;
    }
}

@media screen and (max-width: 1660px) {
    .all-container {
        padding-top: 2%;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        
        z-index: 1;
    }
    .app-header {
        position: absolute;
        top: 3%;
        padding-top: 2%;
        text-align: left;
        width: auto;
        margin: 0 10vw;
        max-height: 200px;
        font-family: 'Dela Gothic One', cursive;
        color: rgb(0, 77, 144);
        /* text-decoration:overline; */
        letter-spacing: 20px;
        font-size: 4rem;
        display: grid;
        grid-template-columns: 2fr 5fr;
        align-items: center;
    }
    .app-header .lead{
        width: 100%;
    }
    
    .container-small {
        padding-top: 100px;
        margin: 10vw;
        
        /* margin-top: 10vh; */
        padding: 10vw;
        padding-bottom: 400px;
        margin-bottom: 0;
        border: 1px solid snow;
        border-radius: 10px;
        display: grid;
        place-content: center;
        background-color: rgb(24, 15, 44);
    }
    .form {
        border: 1px solid gray;
        border-radius: 10px;
        background-color: rgb(37, 13, 88);
        min-height: 350px;
        width: 400px;
        color: aliceblue;
        position: relative;
    }
    .form .title {
        padding-top: 12%;
        font-size: 30px;
    }
}
@media screen and (max-width: 1270px) {
    .app-header {
        position: absolute;
        top: 1%;
        padding-top: 2%;
        text-align: left;
        width: auto;
        margin: 0 10vw;
        max-height: 200px;
        font-family: 'Dela Gothic One', cursive;
        color: rgb(0, 77, 144);
        /* text-decoration:overline; */
        letter-spacing: 20px;
        font-size: 4rem;
        display: grid;
        grid-template-columns: 2fr 6fr;
        align-items: center;
    }
}
@media screen and (max-width: 1000px) {
    .app-header {
        position: absolute;
        top: 0;
        padding-top: 1%;
        text-align: left;
        width: auto;
        margin: 0 10vw;
        max-height: 200px;
        font-family: 'Dela Gothic One', cursive;
        color: rgb(0, 77, 144);
        /* text-decoration:overline; */
        letter-spacing: 10px;
        font-size: 4rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
    .app-header .lead{
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .all-container {
        padding-top: 8%;
        min-height: 100%;
        min-width: 100%;
        position: relative;
        z-index: 1;
    }
    .app-header {
        position: absolute;
        top: 0;
        padding-top: 5%;
        text-align: left;
        width: auto;
        margin: 0 10vw;
        max-height: 200px;
        font-family: 'Dela Gothic One', cursive;
        color: rgb(0, 77, 144);
        font-size: 2.25em;
        display: grid;
        letter-spacing: 0;
        grid-template-columns: 2fr 6fr;
        align-items: center;
    }
    .app-header .lead{
        width: 100%;
    }
    .container-small {
        padding-top: 100px;
        margin: 10vw;
        margin-top: 10vh;
        padding: 5vw;
        padding-bottom: 400px;
        margin-bottom: 0;
        border: 1px solid snow;
        border-radius: 10px;
        display: grid;
        place-content: center;
        background-color: rgb(24, 15, 44);
    }
    .form {
        border: 1px solid gray;
        border-radius: 10px;
        background-color: rgb(37, 13, 88);
        min-height: 350px;
        width: 275px;
        color: aliceblue;
        position: relative;
    }
    .form .title {
        padding-top: 12%;
        font-size: 25px;
    }
}

.container-small {
    padding-top: 100px;
    margin: 10vw;
    padding: 6vw 1vw;
    padding-bottom: 200px;
    margin-bottom: 0;
    border: 1px solid snow;
    border-radius: 10px;
    display: grid;
    place-content: center;
    background-color: rgb(24, 15, 44);
}

@media screen and (min-width: 1660px) {
    .form {
        border: 1px solid gray;
        border-radius: 10px;
        background-color: rgb(37, 13, 88);
        min-height: 350px;
        width: 500px;
        color: aliceblue;
        position: relative;
    }
}

.lnk {
    text-decoration: none;
    font-family: 'Dela Gothic One', cursive;
}

.inner-form {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
}

.inner-form .title {
    grid-column: 1 / span 2;
    padding-top: 10px;
}

.response-success {
    grid-column: 1 / span 2;
    font-size: 2em;
    font-weight: bold;
    color: rgb(17, 211, 17);
    border: rgb(17, 211, 17) 1px dashed;
    border-radius: 10px;
    padding: 1em 2em;
    margin: 0 1em;
    margin-bottom: 0.5em;
}
.response-success-get{
    grid-column: 1 / span 2;
    color: rgb(17, 211, 17);
    border: rgb(17, 211, 17) 1px dashed;
    border-radius: 10px;
    padding: 1em 2em;
    margin: 0 1em;
    margin-bottom: 0.5em;
    min-height: 100px;
    max-height: 100px;
}
.response-fail {
    grid-column: 1 / span 2;
    color: red;
    border: red 1px dashed;
    border-radius: 10px;
    padding: 2em 2em;
    margin: 0 1em;
    margin-bottom: 0.5em;
}

.response-normal {
    grid-column: 1 / span 2;
    color: gray;
    border: gray 1px dashed;
    border-radius: 10px;
    padding: 2em 2em;
    margin: 0 1em;
    margin-bottom: 0.5em;

}

.form .textarea {
    padding-right: 20px;
    margin-left: 5%;
    border-radius: 10px;
    border-color:white;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

.form .textarea.get {
    max-width: 170px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.form .title {
    padding: 0 2em;
    padding-top: 4em;
    font-size: 1.25rem;
}

.form .tabs {
    padding-top: 3%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-around;
    justify-items: center;
    font-size: 1.5em;
}

.post {
    display: inline-block;
    justify-self: center;
    border: 2px skyblue solid;
    border-radius: 5px;
    color: aliceblue;
    font-family: 'Dela Gothic One', cursive;
    background-color: rgba(255, 255, 255, 0);
}
.post-locked {
    display: inline-block;
    justify-self: center;
    border: 2px gray solid;
    border-radius: 5px;
    color: gray;
    font-family: 'Dela Gothic One', cursive;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: non;
}

#t1 {
    border-right: 1px solid snow;
    padding-bottom: 1em;
    min-height: 100%;
    width: 50%;
}

#t2 {
    height: 100%;
    padding-bottom: 1em;
    width: 50%;
}

#t2:hover{
    color: skyblue;
    text-decoration: underline;
}
#t1:hover{
    color: skyblue;
    text-decoration: underline;
}
.app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 50;
    height: 280px;
    background: rgb(51, 51, 51);
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 28%, rgb(0, 0, 0) 86%);
    color: gray;
    padding-top: 200px;
}